{% extends "app/layout.html" %}

{% block content %}


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Brands</title>
</head>
<body>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Brands</option>
        <option value="1">Sage</option>
        <option value="2">Chanel</option>
        <option value="3">Sean John</option>
    </select>
</body>
</html>


{% endblock %}
